@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700,700italic,400italic,300italic);
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

body,
html {
	font-family: Architects Daughter, Merriweather;
}

body {
	background-image: -o-linear-gradient(bottom, #EB9719, #FFFFFF);
	background-image: -moz-linear-gradient(bottom, #EB9719, #FFFFFF);
	background-image: -ms-linear-gradient(bottom, #EB9719, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #EB9719, #FFFFFF);
	background-image: linear-gradient(to bottom, #EB9719, #FFFFFF);*/
	
}

.container-fluid {
	max-width: 1280px;

}

.content {
	background: url(images/logo-bg.png) no-repeat;
}

a, a:link {
	color: #444;
	text-decoration: none;
}

h1,
h2,
h3,
.nav-primary {
	font-family: Architects Daughter, 'Shadows Into Light', cursive;
	font-size: 1.75em;
}

h1,
h2 {
	text-transform: uppercase;
}

.page-header {
	font-size: 2.5rem;
	border-bottom: 1px solid rgba(0, 0, 0, .25);
}

p {
	font-size: 1.25em;
	line-height: 1.5;
}

.nav-primary {
	margin-top: 3em;	
	text-transform: uppercase;
}

/* header */
.header {
	text-align: center;
}

/* modules */
.content .address {
	margin-bottom: 1em;
}
.address strong {
	text-transform: uppercase;
	letter-spacing: .1em;
}

/* home */
.preview h2 {
	font-size: 2.5em;
	font-weight: bold;
}

/* footer */
.footer {
	margin-top: 10em;
	border-top: 1px solid rgba(0,0,0,.2);
	letter-spacing: .1em;
	font-size: 1.25em;
}

.footer > div {
	padding: 2em 0 3em;
}

.footer .legal {
	margin: 2rem 0;
	font-size: .75em;
	color: rgba(0, 0, 0, .5);
}

.footer a {
	text-transform: uppercase;
}

.footer i {
	position: relative;
	top: .25em;
	opacity: .7;
	font-size: 1.5em;
}

/* dove-siamo */
#map-canvas {
	margin-top: 2em;
	width: 100%;
}

/* prenotazioni */
.input-rooms,
.input-dates {
	margin-bottom: 3em;
}

.input-rooms label {
	margin-left: 5px;
	position: relative;
	top: 2px;
}

.input h2 {
	margin-bottom: 1em;
}

.input label {
	font-size: 1.25em;
	font-weight: normal;
	text-transform: uppercase;
	cursor: pointer;
}

/* datepicker */
#ui-datepicker-div {
	background: #fff;
}

.contacts-list {
	font-size: 1.5em;
}