	/* globals
	==============================================
	*/

	@media screen and (min-width: 800px) {
		html,
		body,
		.section > .container-fluid {
			height: 100%;
		}
	}
	
	html {
		overflow-x: hidden;
	}

	body {
		background: #111;
	}


	/* forms
	==============================================
	*/
	.text-input {
		border: none;
		background: #666;
	}

	.text-input:focus {
		border: none;
		background: #eee;
		color: #444;
	}

	.row--form {
		padding: 1em 0;
	}

	.label-lg {
		font-size: 1.5em;
	}
	
	/* buttons
	==============================================
	*/
	.btn {
		background: none;
		border: 2px solid;
		padding: .6em 2.8em;
	}

	.btn-primary {
		color: #f60;
	}

	.btn.btn-primary:hover {
		color: #f30;
		background: none;
		border-color: #f30;
	}


	/* typography
	==============================================
	*/
	html,
	body {
		font-family: 'Roboto Condensed', 'Oswald', Helvetica Neue, Helvetica, sans-serif;
	}

	h1,
	h2 {
		font-family: 'Roboto Slab', Helvetica Neue;
	}
	
	a {
		opacity: .75;
	}

	a,
	a:hover,active {
		color: #fff;
		text-decoration: none;
		transition: all .5s ease-in-out;
		-webkit-transition: all .5s ease-in-out;
	}

	a:hover, active {
		opacity: 1;
	}
		
	body {
		font-size: 14px;
	}
	
	@media screen and (min-width: 800px) {
		body {
				font-size: 16px;
			}
	}

	@media screen and (min-width: 1200px) {
		body {
				font-size: 18px;
			}
	}

	


	/* helpers
	==============================================
	*/
	.double-lined {
		border-top: 1px solid rgba(255, 255, 255, .6);
		border-bottom: 1px solid rgba(255, 255, 255, .6);
		padding-top: .5em;
		padding-bottom: .5em;
		text-transform: uppercase;
		position: relative;
	}

	.with-down-arrow:after {
		content:"";
		position: absolute;
		display: block;
		width: 13px;
		height: 13px;
		left: 50%;
		margin-left: -6px;
		padding-bottom: 4em;
		background: url(../assets/indicator-down.png) bottom center no-repeat;
	}

	.text-secondary {
		color: #777;
	}


	/* navbar 
	==============================================
	*/
	.navbar {
		border-bottom: 1px solid rgba(255, 255, 255, .2);
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-ms-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
		border-bottom: none;
	}

	.navbar.on {
		opacity: 1;
	}

	
	@media screen and (min-width: 800px) {
		.navbar .main-navigation {
			position: relative;
			width: 100%;
			margin: 0 auto;
		}
		.navbar-nav > li.small-brand {
			position: absolute;
			left: 0;
		}
		.main-navigation {
			width: 100%;
			margin: 0 auto;
		}
		.navbar.fixed .main-navigation .navbar-nav {
			background: none;
		}

		.navbar.fixed .main-navigation {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 9999;
		}

		.navbar .main-navigation:after {
			content: "";
			position: fixed;
			top: 0;
			display: block;
			height: 110px;
			width: 100%;
			background-image: linear-gradient(rgba(0,0,0,.95), transparent);
		}

		.navbar.fixed .main-navigation .navbar-nav {
			position: relative;
			top: 0;
		}
	}
	
	.main-navigation,
	.navbar-nav {
		width: 100%;
	}
	.navbar-nav {
		margin: 0 auto;
		width: 100%;
	}
	
	.navbar-nav > li a {
		text-transform: uppercase;
		color: #fff;
	}
	
	.navbar-nav > li a:hover,active {
		background: rgba(0, 0, 0, .45);		
	}
	
	.logo {
		margin: 1em auto;
		text-align: center;
	}
	
	.navbar-nav {
		text-align: center;
		z-index: 1000;
		padding: 2em 0;
		border-top: 1px solid;
		border-bottom: 1px solid;
		color: #333;
		margin: 2em 0;
	}
	
	.navbar-nav > li,
	.navbar-nav > li a {
		display: block;
		float: none;
	}

	.navbar-nav > li a {
		border-bottom: 1px solid #222;
	}

	.navbar-nav > li:last-child a {
		border-bottom: none;
	}

	@media screen and (min-width: 800px) {
		.navbar-nav {
			background: rgba(0,0,0,.45);
			padding: 0;
			border: none;
			width: 100%;
			position: relative;
			margin: 0 auto;
		}
		.navbar-nav > li a {
			border: none;
		}
		.navbar-nav > li a.active {
			border-bottom: 1px solid #222;
		}
	}
	
	

	@media screen and (min-width: 800px) {
		.navbar-nav > li {
			float: none;
			display: inline-block;
		}
	}

	/* sections 
	==============================================
	*/	
	.section {
		color: rgba(255, 255, 255, .95);
		min-height: 200%;
		height: auto;
		width: 100%;
		position: relative;
	}

	.section-bg {
		position: absolute;
		height: 100%;
		top: 0;
		width: 100%;
		bottom: 0;
	}

	.section-bg img {
		width: 100%;
	}

	@media screen and (min-width: 800px) {
		.section {
			width: 100%;
			margin: 0 auto;
			position: relative;
			min-height: 100%;
			padding-top: 4em;
		}	

		.section--overlay .section-bg:after {
/*			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.95));
			z-index: 1;*/
		}
	}
		
		.section-media {
			margin: 2em 0;
		}
		
		
	
		@media screen and (min-width: 800px) {
			.section-text--bottom {
/*				position: absolute;
				width: 50%;
				left: 25%;
				bottom: 6em;
				z-index: 1000;*/
			}
		}

		.section-headline {
			position: relative;
			text-transform: uppercase;
			margin: 0;
			padding-top: 2em;
			line-height: 1;
			font-size: 2.9em;
			margin-bottom: 1.5em;
			font-weight: 400;
			letter-spacing: .1em;
			text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
			text-align: center;
		}

			.section-headline:before {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 2em;
				top: 1em;
				background: url(../assets/text-separator-down.png) top center no-repeat;	
			}

			.section-headline:after {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 2em;
				bottom: -2.4em;
				/*bottom: -2.4em;*/
				background: url(../assets/text-separator.png) top center no-repeat;	
			}

		.section-copy {
			font-size: .9em;
			padding: 0 2em;
			letter-spacing: .1em;
			line-height: 2;
			text-transform: uppercase;
			text-align: center;
		}

	/* media */
	#media {
		height: 100%;
		text-align: center;
		margin-bottom: 12em;
	}
	
	#media .section-text {
		margin: 0 auto;
		text-align: center;
	}
	
	#media .main-brand span {
		display: inline-block;
	}

	#media .main-brand img {
		margin: 0 auto;
		padding: 2em;
	}
	

	/* intro */
	#intro {
		/*background: url(../assets/slide.jpg) top center fixed no-repeat;
		background-size: cover;*/
	}

	#intro .section-text {
		margin: 0 auto;
		width: 50%;
	}	
	
	/* buenos-aires */
	#buenos-aires {

	}

	#buenos-aires .section-text {
		width: 50%;
	}

	/* zip */
	#zip {
		background: url(../assets/zip.jpg) top center fixed no-repeat;
		/*background-size: cover;*/
		height: 100%;
	}

	#outro {
		background: url(../assets/intro.jpg) top center fixed no-repeat;
		/*background-size: cover;*/
	}
	
	/* stores */
	#stores .col-md-4 {
		border-right: 1px solid rgba(255,255,255,.15);
	}

	#stores .col-md-4:last-child {
		border-right: none;
	}

	#stores .row {
		margin: 6em 0;
	}

	.store {
		text-align: center;
		padding-bottom: 2em;
		border-bottom: 1px dashed rgba(255, 255, 255, .1);
	}

	.store:last-child {
		border-bottom: none;
	}

	.store .headline {
		text-transform: uppercase;
		font-size: 1.5em;
	}

	.store p {
		color: #999;
	}

	/* registration */
	.registration-form {
		margin: 6em 0;
	}
