<!doctype html>
<html charset="utf-8">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="author" content="{{ site.author.name }}">
  <meta name="HandheldFriendly" content="True"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <title>{{ page.title }} | cloudnoise</title>
  
  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
  <!-- stylesheets -->
  <link rel="stylesheet" media="screen" href="{{ ASSET_PATH }}/stylesheets/cloudnoise.min.css">
  
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body class="{{ page.class }}">

<div class="container">

  <header class="header__master" role="banner">
    <nav class="navigation__master">
      <ul>
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include JB/pages_list %}
      </ul>
      <ul class="social__links">
        <li>
          <a href="http://twitter.com/zimok" target="_blank" class="profile twitter__profile">
            <i class="icon-twitter"></i> twitter
          </a>
        </li>
        <li>
          <a href="http://github.com/zimok" target="_blank" class="profile github__profile">
            <i class="icon-github"></i> github
          </a></li>
      </ul>
    </nav>
  </header>

  <section class="blog main" role="">

    {{ content }}

  </section>

  <aside class="aside__sidebar">
    <h1 class="logo" id="logo"><a href="/" title="back to cloudnoise homepage">
      <img alt="cloudnoise" src="{{ ASSET_PATH }}/img/logo.svg"></a>
    </h1>
    <p class="aside__bio">L&#8217;&#233;num&#233;ration des param&#232;tres, c&#8217;est l&#8217;agonie de l&#8217;esp&#233;rance. Rien ne peut jamais marcher si l&#8217;on songe &#224; tout ce qu&#8217;il faut pour que &#231;a marche.
      <p class="quote__author">
        <a target="_blank" href="http://www.amazon.com/gp/search?ie=UTF8&camp=1789&creative=9325&index=aps&keywords=Daniel%20Pennac&linkCode=ur2&tag=cloudnoise-20" data-track="amazon">&ndash; Daniel Pennac</a>
        <img src="http://www.assoc-amazon.com/e/ir?t=cloudnoise-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </p>
  </aside>

  <footer class="footer__master" role="">
    <a href="#">back to top</a>
  </footer>
  
  </div>

  <script>
  window.onload = function() {
    var bodyClassName = document.body.className
    document.body.className = bodyClassName + ' transition'
  }
  </script>
  
</body>
</html>