{% if page.post_image %}
<div class="article-image">
  <img src="{{ ASSET_PATH }}cloudnoise/img/{{ page.post_image }}">
  <!-- <h1 class="article-headline" style="position: absolute;z-index:9999;bottom:0">
    {{ page.title }}
  </h1> -->
</div>
{% endif %}

<article class="article__view text__view" style="max-width:720px;margin:0 auto;z-index:9999;margin-top:60px;margin-bottom: 120px">
  
  <div class="article-head">
    
    <h1 class="article-headline">
      {{ page.title }}
    </h1>
    <time class="article-time">{{ page.date|date:"%b, %d %Y" }}</time>
  </div>

  <div class="article-content">
    {{ content }}
  </div>

  <div class="article-footer" style="margin-top:90px;padding-top:20px;border-top:1px solid rgba(255, 255, 255, .1)">
    You can also read: <a href="{{ site.related_posts[0].uri }}">{{ site.related_posts[0].title }}</a>
  </div>

</article>

