{% if page.post_image %}
<div class="article-image">
  <img src="{{ ASSET_PATH }}cloudnoise/img/{{ page.post_image }}">
</div>
{% endif %}

<article class="article__view text__view" style="max-width:720px;margin:0 auto;z-index:9999;margin-top:60px;margin-bottom: 120px">
  
  <div class="article-head">
    <time class="article__time">{{ page.date|date:"%b, %d %Y" }}</time>
    <h1 class="article-headline">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>
  </div>

  <div class="article-content">
    {{ content }}
  </div>

</article>