body {
      font-family: 'Helvetica Neue';
      font-weight: 200;
      font-size: 22px;
      color: rgba(255, 255, 255, .6);
      line-height: 1.4;
      padding: 20px 40px;
      background: rgba(0, 0, 0, .5);
    }
    .controls {
      list-style: none;
      padding: 20px;
      background: rgba(0, 0, 0, .1);
      text-align: center;
    }
      .controls li {
        display: inline-block;
        width: 70px;
      }
      .controls li a {
        color: rgba(255, 255, 255, .7);
        text-decoration: none;
        font-size: 2em;
        display: block;
        -webkit-transition: all .01s ease-out;
        transition: all .01s ease-out;
      }
      .controls li a:hover {
        color: rgba(255, 255, 255, 1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    .playlist {
      list-style: none;
      padding-left: 0;    
    }
      .track {
        cursor: pointer;
        padding: 4px 10px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        opacity: .3;
        color: #fff;
        -webkit-transition: all .1s ease-out;
      }
      .track:hover {
        opacity: .6;
      }
      .track .track-artist {
        display: table-cell;
        vertical-align: middle;
        width: 200px;
        text-transform: uppercase;
        font-size: 0.55em;
      }
      .track .track-title {
        display: table-cell;
        vertical-align: top;
        font-size: 1.25em;
        font-weight: 100;
        width: 75%;
      }
      .track .track-like {
        display: table-cell;
        width: 5%;
      }
      .track .liked {
        color: #ff3300;
      }
    .playing {
      background: rgba(0, 0, 0, .05);
      opacity: 1.0;
      text-shadow: 0 1px 4px rgba(0, 0, 0, .35);
    }
    .playing:hover {
      opacity: 1.0;
    }
    h1, h2 {
      font-weight: 100;
      line-height: 1;
    }
    h1 strong,
    h2 strong {
      color: #fff;
    }
    h1 small,
    h2 small {
      float: right;
      color: #ccc;
    }
    .loader {
      display: block;
      width: 100%;
      height: 1px;
      background: rgba(255, 255, 255, .05);
    }
      .loaded {
        display: block;
        position: relative;
        width: 0;
        height: 1px;
        background: rgba(255, 255, 255, .25); 
      }

      .seeker {
        display: block;
        position: relative;
        width: 0;
        height: 1px;
        background: rgba(255, 255, 255, .7); 
        top: -1px;
      }


/* states */
.fade-out {
  opacity: 0;
}