/* ============================================================================= */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

ul, ol {
  padding: 0;
  list-style: none;
}

[data-velocity] {
  opacity: 0;
}


/* ============================================================================= */

body:before, body:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  height: 12px;
}

@-webkit-keyframes borderSlideLeft {
  0%   { transform: translate3d(-100%, 0, 0) }
  100%   { transform: translate3d(0, 0, 0) }
}

@-webkit-keyframes borderSlideRight {
  0%   { transform: translate3d(100%, 0, 0) }
  100%   { transform: translate3d(0, 0, 0) }
}

/* border-top */
body:before {
  background: #dedede;
  -webkit-animation: borderSlideLeft 1s ease-in-out;
  animation: borderSlideLeft 1s ease-in-out;
}

/* border-bottom */
body:after {
  background: #cdcdcd;
  -webkit-animation: borderSlideRight 1s ease-in-out;
  animation: borderSlideRight 1s ease-in-out;
}

body:before {
  top: 0;
}

body:after {
  bottom: 0;
}

/* top left overlap */
.border-overlap-yellow {
  position: fixed;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  background: #19B5FE;
}

/* bottom right overlap */
.border-overlap-blue {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: #2574A9;
  z-index: 2;
}

body {
  /*border-left: 12px solid #81CFE0;
  border-right: 12px solid #2574A9;*/
  background: #fff;/*#175ce6;*/
  color: #6C7A89;
  font-family: 'Roboto';
}

a {
  color: #f60;
  text-decoration: none;
}

a:hover, active {
  color: #555;
  text-decoration: none;
}

.container {
  max-width: 960px;
}

/* ============================================================================= */
.navbar {
  background: transparent;
}

/* ============================================================================= */

.section {
  min-height: 100vh;
  background: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1em;
}

.section h1,
.section h2 {
  margin-top: 0;
  line-height: 1.1;
}

.section h2 {
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.section p {
  font-size: 1rem;
  font-weight: 200;
}

/* hero */
/* ============================================================================= */
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.section-hero {
  /*color: #fff;*/
  background: transparent;
  text-align: center;
}

.section-hero .logo {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  margin-bottom: 1rem;

}

.section-hero ul.list-unstyled li {
  display: inline-block !important;
}

.section-hero ul li a {
  padding-left: .5em;
  padding-right: .5em;
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  display: inline-block;
  line-height: 1.7;
  color: #999;
}

.section-hero ul li a:hover,active {
  color: #777;
}

.section-hero .container {
  position: relative;
  z-index: 20;
  padding-bottom: 4rem;
}

.section-hero h1 {
  font-size: .8rem;
  margin-bottom: 0;
  line-height: 1;
  color: #999;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
}

.section-hero h1 span {
  border-top: 1px solid rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.section-hero h2 {
  margin-top: .5rem;
  font-size: 1rem;
}

.section-hero h3 {
  margin-top: 4rem;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.section-hero p {
  font-size: 1rem;
  font-weight: 300;
  font-family: Roboto Slab;
  line-height: 1.45;
}

.bullet {
  display: inline-block;
  padding: 0 .2em;
  position: relative;
  top: 1px;
}

.mxm {
  color: #f60;
}


@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 15px;
  }
}


@media screen and (max-width: 1279px) {
  html,
  body {
    font-size: 16px;
  }
}


@media screen and (min-width: 1280px) {
  html,
  body {
    font-size: 18px;
  }
}
