html,
body,
h1,
h2,
h3,
h4 {
  font-family: "Apercu Regular",Calibri,sans-serif;
}
h2,
h3 {
  font-weight: 900;
}
body {
  background: #222BE2;
  color: #f9f9f9;
}
.pst-root {
  padding: 0;
}
.pst-hero {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pst-logo {
  letter-spacing: .15em;
  margin-bottom: .75em;
  font-size: 96px;
}

.pst-logo span {
  display: inline-block;
}

.pst-logo-subtitle {
  font-weight: 300;
}